.admin {

  &__title {
    font-size: 50px;
    margin-bottom: 15px !important;
  }

  &__logout {
    margin-bottom: 30px !important;
    font-size: 20px;
    font-weight: 600;
    color: indianred;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    a {
      font-size: 30px;
      text-decoration: none;
      color: white;
      margin: 20px 0;
      padding: 6px 0;
      width: 200px;
      border-radius: 15px;
      font-weight: 600;
      text-align: center;
    }

    &__activity {
      background-color: red;
    }

    &__project {
      background-color: green;
    }

    &__techno {
      background-color: blue;
    }

    &__picture {
      background-color: orange;
    }
  }

  @import "index";

  @import "show";
}


@import "form";

[class^="admin__"] {
  margin-bottom: 50px;

  .actions {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 18px;
      padding: 5px 10px;
      margin: 0 10px;
      border-radius: 8px;

      &:hover {
        font-weight: bold;
      }
    }

    &__new {
      background-color: forestgreen;
      color: white;
      margin-bottom: 20px !important;
    }

    &__return {
      background-color: goldenrod;
      color: white;
      margin-bottom: 20px !important;
    }

    &__show {
      background-color: lightgreen;
      color: $background-primary;
      width: 90px;
    }

    &__edit {
      background-color: cornflowerblue;
      color: $background-primary;
      width: 90px;
    }

    &__delete {
      background-color: firebrick;
      color: white;
      margin: 0 10px;
    }
  }
}