.project {
  &__subtitle {
    font-size: 18px;
    text-align: center;
  }

  &__card {
    margin: 30px 0;

    &__carousel {
      margin-bottom: 30px;

      .carousel-inner {
        border-radius: 15px;
        box-shadow: 6px 6px 10px #2c1c1c;
      }

      button {
        width: auto;
        margin: 0 10px;
      }
    }

    &__info {
      padding: 20px;
      background: #101010;
      border-radius: 10px;
      text-align: center;

      &__compagny {
        font-size: 24px;
        margin-bottom: 5px;
        color: #664d03;
      }

      &__activity {
        font-size: 22px;
        margin-bottom: 7px;
        color: gold;
      }

      &__date {
        font-size: 20px;
        color: blue;
      }

      &__site, &__github {
        margin-bottom: 5px;
      }

      &__site, &__github, &__techno, a {
        font-size: 16px;
        color: #4fe44f;

        span:first-child {
          color: lightgreen;
          font-weight: 700;
          font-size: 18px;
        }
      }

      &__description {
        p:first-child {
          font-size: 18px;
          text-decoration: underline;
          color: seagreen;
          font-weight: 700;
        }

        p:last-child {
          font-size: 16px;
          color: sandybrown;
        }
      }
    }
  }
}

