<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.ico') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include '/base/header/_header.html.twig' %}

        {% block body %}{% endblock %}

        {% include '/base/footer/_footer.html.twig' %}
    </body>
</html>
